$primary-color-1: "#A100FF";

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-main {
    border:1px solid #404040;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 10px;
    width: 25rem;
    background-color: #202020;
}

.login-content {
    margin: 1rem;

    div {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        gap: .5rem;

        label {
            font-size: 1.5rem;
            font-weight:500;
        }

        input {
            height: 2rem;
            padding: 0 .5rem;
            outline: none;
            font-size: 1rem;
        }
    }
}
.l-btn-1 {
    cursor: pointer;
    user-select: none;
    color: rgb(99, 99, 244);
    text-decoration: underline;
}
.l-btn-2-c {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;

    button {
        height: 2.5rem;
        width: 15rem;
        background-color: #a100ff;
        border: none;
        border-radius: 10px;
        font-size: 1.1rem;
        font-weight: bold;
        color:white;
        cursor: pointer;
        transition: all 200ms ease-in-out;

        &:active {
            transform: scale(0.96);
        }
    }
}